<div ng-controller="LobbyCtrl">
	<div class="content">
        <div class="section">
            <h2>Name</h2>
            <ul>
                <li>{{playerName}}</li>
            </ul>
        </div>
        <div class="section" ng-hide="!role">
            <h2>Last Game</h2>
            <ul>
                <li><span ng-hide="!hasWon">You won as {{role}}</span><span ng-hide="!hasLost">You last as {{role}}</span></li>
            </ul>
        </div>
        <div class="section">
            <h2>Other Players</h2>
            <ul>
                <li ng-repeat="p in players track by $index">{{p.name}}<span ng-hide="!p.hasWon"> won as {{p.role}}</span><span ng-hide="!p.hasLost"> lost as {{p.role}}</span></li>
            </ul>
        </div>
        <button ng-click='startGame()' ng-disabled="isDisabled">Start Game</button>
    </div>
</div>