/*#9BCC93*/
body {
  font-family: Consolas, sans-serif;
  background-color: #002c4b;
  color: #1a9481;
  margin: 0px;
  overflow: hidden;
  text-transform: uppercase;
}
h1 {
  font-size: 50px;
  margin: 10px 0px;
  text-align: center;
  text-shadow: 2px 0px 2px #1a9481;
  -webkit-animation: text_in 1s;
}
h2 {
  padding-left: 10px;
  text-shadow: 2px 0px 2px #1a9481;
  -webkit-animation: text_in 1s;
}
h2.action {
  text-shadow: 2px 0px 2px #9bcc93;
}
.action {
  padding-left: 10px;
  padding-right: 10px;
  color: #9bcc93;
  -webkit-animation: text_in_highlight 1s;
}
.background {
  background: -webkit-linear-gradient(270deg, #002c4b 0%, #002c4b 90%, #1a9481 100%);
  z-index: -1;
  animation: horiz_move 10s infinite linear;
  -webkit-animation: horiz_move 10s infinite linear;
  height: 100%;
  width: 100%;
  position: absolute;
  transform: translate3d(0%, -100%, 0px);
}
@-webkit-keyframes horiz_move {
  0% {
    transform: translate3d(0%, -100%, 0px);
    opacity: 0;
  }
  5% {
    transform: translate3d(0%, -100%, 0px);
    opacity: 1;
  }
  10% {
    transform: translate3d(0%, 50%, 0px);
    opacity: 0.5;
  }
  20% {
    opacity: 0;
  }
  100% {
    transform: translate3d(0%, 50%, 0px);
    opacity: 0;
  }
}
input,
button {
  font-family: Consolas, sans-serif;
  background-color: #002c4b;
  color: #1a9481;
  border: 2px #1a9481 solid;
  padding: 10px;
  text-shadow: 2px 0px 2px #1a9481;
  box-shadow: 2px 0px 2px #1a9481;
  -webkit-animation: text_in 1s;
}
button {
  background-color: #002c4b;
  color: #9bcc93;
  border: 2px #9bcc93 solid;
  text-shadow: 2px 0px 2px #9bcc93;
  box-shadow: 2px 0px 2px #9bcc93;
  -webkit-animation: button_in 1s;
}
input:focus,
button:focus {
  border: 2px #1a9481 solid;
  outline: none;
}
.list_element {
  background-color: #002c4b;
  color: #9bcc93;
  border: 2px #9bcc93 solid;
  text-shadow: 2px 0px 2px #9bcc93;
  box-shadow: 2px 0px 2px #9bcc93;
}
.zone {
  width: 100%;
  height: 100%;
  background-color: #002c4b;
  box-shadow: 5px 5px 10px #003d5c inset;
  overflow: hidden;
  text-shadow: 2px 0px 2px #1a9481;
  position: absolute;
}
.content {
  position: absolute;
  z-index: 1;
}
.timer_urgent {
  color: #9bcc93;
}
.timer_blink {
  animation: urgent 0.5s infinite linear;
  -webkit-animation: urgent 0.5s infinite linear;
}
@-webkit-keyframes urgent {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes urgent {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card_image {
  width: 100%;
  text-align: center;
  position: relative;
}
.float {
  position: absolute;
  top: 0px;
  opacity: 0.1;
  z-index: -1;
}
@-webkit-keyframes text_in {
  0% {
    text-shadow: 50px 0px 20px #002c4b;
    opacity: 0.5;
  }
  100% {
    text-shadow: 2px 0px 2px #1a9481;
    opacity: 1;
  }
}
@-webkit-keyframes text_in_highlight {
  0% {
    text-shadow: 50px 0px 20px #002c4b;
    opacity: 0.5;
  }
  100% {
    text-shadow: 2px 0px 2px #9bcc93;
    opacity: 1;
  }
}
@-webkit-keyframes button_in {
  0% {
    text-shadow: 50px 0px 20px #002c4b;
    box-shadow: 50px 0px 20px #002c4b;
    opacity: 0.5;
  }
  100% {
    text-shadow: 2px 0px 2px #9bcc93;
    box-shadow: 2px 0px 2px #9bcc93;
    opacity: 1;
  }
}
ul {
  list-style-type: none;
}
